*~
*swp
*.csv
/Kopie[!!-~]von[!!-~]build.xml
/build
config/behaviors/nao/deep
config/motorMappings/*.csv
*.vpp~*
*.vux
jar/magmaKIJarGeneration.jardesc
/junit
/magmaKIJarGeneration.jardesc
/message.txt
/schedule.txt
srcAgent/Test.java
srcAgent/magma/agent/behavior/basic/Temp.java
util/excel/~$*.*
util/vagrant/.vagrant
test.xml
/result.properties
jar/build/
jar/out/
log/
*.TMP
*.java-*
/result.txt
\.DS_Store
SelfCollisions.txt
python/model.zip
__pycache__

#Intelij
.idea
*.iml
/buildDefault

#eclipse
.project
.classpath
.settings

target/
**/target/

libsrc/runtime/libtensorflow-src.jar
lib/tensorflow

learnedNetwork.net
/bin/

magmalearning/deeplearning/kickArea.csv

python/model_best.zip
